<%include ../mHeader%>

<link href="/css/pages/adminMXmasActivityItem.css" rel="stylesheet" media="screen">

<div class="div_head">
    <span id="span_title">查看圣诞礼遇物品详情</span>
</div>
<div class="div_content" style="display: table;">
    <!--页面内容放在这儿-->
    <div class="div_sec">
        <div class="div_sec_head">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;基本信息
            <span id="span_id" style="visibility: hidden"><%= id%></span>
        </div>
        <div class="clearfix"></div>
        <div id="div_item_<%= id%>" class="div-item">
            <div class="row">
                <div class="col-xs-12 item-name"><%= itemName%></div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <% itemPicUrl.forEach(function(pic) { %>
                            <img src="<%=pic%>" class="item-img">
                    <%}); %>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-xs-4 text-right">
                    上传时间：
                </div>
                <div class="col-xs-8 item-info">
                    <span><%= moment(created_at).format('YYYY-MM-DD HH:mm:ss')%></span>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-4 text-right">
                    状态：
                </div>
                <div class="col-xs-8 item-info">
                    <span style="color: red"><%= itemStatusDesc%></span>
                    <span id="span_order_status" style="visibility: hidden"><%= order_status%></span>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-4 text-right">
                    确认码：
                </div>
                <div class="col-xs-8 item-info">
                    <span style="color: red"><%= gen_code%></span>
                </div>
            </div>

            <% if(x_field_weixin_headimgurl) {%>
            <div class="row margin-top-10">
                <div class="col-xs-4 text-right">
                    提交人：
                </div>
                <div class="col-xs-8 item-info">
                    <img src="<%= x_field_weixin_headimgurl%>" class="item-owner-headimgurl">
                    <div class="item-owner-nickname">
                        <%= x_field_weixin_nickname%>
                    </div>
                </div>
            </div>
            <%} %>

            <div class="row margin-top-10">
                <div class="col-xs-4 text-right">
                    联系人：
                </div>
                <div class="col-xs-8 item-info">
                    <span><%= contactName%></span>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-xs-4 text-right">
                    联系电话：
                </div>
                <div class="col-xs-8 item-info">
                    <span><%= contactMobile%></span>
                </div>
            </div>
            </div>
        </div>
        <div style="text-align:center; width: 100%; margin-top: 30px;">
            <button class="btn btn-primary" id="btn_confirm">确认能参与</button>
            <button class="btn btn-primary" id="btn_get">确认收到物品</button>
            <button class="btn btn-warning" id="btn_return">退回</button>
        </div>
    </div>



</div>


<script>
    <!--额外的一些JavaScript放在这儿-->
    function reload(){
        setTimeout(function(){ window.location.reload();} , 1000);
    }

    function setButtonStatus(){
        $('#btn_confirm').attr("disabled",$('#span_order_status').text() == "INIT" ? false:true)
        $('#btn_get').attr("disabled",$('#span_order_status').text() == "CONFIRMED" ? false:true)
        $('#btn_return').attr("disabled",$('#span_order_status').text() == "RETURN" ? true:false)
    }

    function doUpdate(oper){
        let url = "/admin/ajax/exchange/xmasActivityItemUpdate";
        let itemInfo = {
            id: $('#span_id').text(),
            order_status : oper
        }
        $.ajax({
            url:url,
            async:true,
            method:'POST',
            data:itemInfo
        }).done(function(data){
            let result = "";
            if(data.errorCode == 200){
                alert("圣诞礼遇物品信息更新成功")
                reload();
            }
            else{
                alert("圣诞礼遇物品信息更新失败")
            }
        });
    }

    function initMe(){
        setButtonStatus();
        $('#btn_confirm').click(function(){
            doUpdate('CONFIRMED')
        })
        $('#btn_get').click(function(){
            doUpdate('GOT')
        })
        $('#btn_return').click(function(){
            doUpdate('RETURN')
        })
    }

    $(document).ready(function() {
        initMe();
    });




</script>

<%include ../mFooter%>

