<%include mHeader%>

<link href="/css/pages/mLtxzaActivityDetail.css" rel="stylesheet" media="screen">

<div class="div_head">
</div>
<div class="div_content" style="display: table;">
    <!--页面内容放在这儿-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="/img/ltxza/ltxza.jpeg" style="width: 100%">
            </div>
            <div class="col-xs-12" style="margin-top:20px;text-align: center; font-size: 20px; font-weight: bold; color: green">
                <%= activityName%>
            </div>
            <div class="col-xs-6 col-xs-offset-3 text-center div-step">
                <i class="fa fa-upload"></i>
                <h5 style="margin-top: 5px; color: red;">1月4号~1月6号</h5>
                <h3 style="margin-top: 5px"><a href="https://jinshuju.net/f/<%- activityId%>">自助上传</a></h3>
                <p style="margin-top: 5px">拍照上传自己的闲置物品，用于盲盒慈善义卖</p>
            </div>


            <div class="col-xs-6 col-xs-offset-3 text-center div-step">
                <i class="fa fa-flag"></i>
                <h5 style="margin-top: 5px; color: red;">1月7号~1月8号</h5>
                <h3 style="margin-top: 5px"><a href="/activity/ltxza/<%- activityId%>/items">线上展示</a></h3>
                <p style="margin-top: 5px">统一收集爱心物品消毒包装；</p>
                <p>所有物品随机编号，录入“小宇家”线上义卖系统</p>
            </div>

            <div class="col-xs-6 col-xs-offset-3 text-center div-step">
                <i class="fa fa-cubes"></i>
                <h5 style="margin-top: 5px; color: red;">1月7号~1月8号</h5>
                <h3 style="margin-top: 5px"><a href="https://jinshuju.net/f/PNvPtm">盲盒义卖</a></h3>
                <p style="margin-top: 5px">进入“小宇家”线上义卖系统，线上认领盲盒并登记意向捐款金额</p>
            </div>

            <div class="col-xs-6 col-xs-offset-3 text-center div-step" style="margin-bottom: 50px;">
                <i class="fa fa-heart"></i>
                <h5 style="margin-top: 5px; color: red;">1月9号</h5>
                <h3 style="margin-top: 5px">捐款公示</h3>
                <p style="margin-top: 5px">居委现场捐款，领取爱心物品</p><p>善款统一捐赠至27届"蓝天下的至爱"活动组委会</p>
            </div>


        </div>
    </div>
</div>

<script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    <!--额外的一些JavaScript放在这儿-->
    <%if (isWeiXin) {%>
    let fwdLink = location.href.split('?')[0]
    let desc = '捐一份闲置，献一份爱心；快来参加"'+'<%- activityName%>'+'"活动吧~'
    //alert(fwdLink);
    let cfgParams = JSON.parse('<%-params%>')
    // cfgParams.debug = true;
    // console.log(JSON.stringify(cfgParams))
    wx.config(cfgParams);
    // alert(JSON.stringify(<%-params%>));

    wx.ready(function () {
        wx.updateAppMessageShareData({
            title: '<%- activityName%>', // 分享标题
            desc: desc, // 分享描述
            link: fwdLink, // 分享链接
            imgUrl: 'https://yhome.tltr.top/img/logo.jpeg', // 分享图标
            success: function () {
            },
            cancel: function () {
            }
        });
    });
    <%}%>
</script>

<%include mFooter%>

